.todos {
	display: flex;
	flex-direction: row;
	justify-items: center;
	justify-content: space-between;
	margin: 1em auto;
}

span {
	max-width: 100%;
	width: 200px;
	align-items: center;
	justify-content: center;
	justify-items: center;
	border: 1px solid;
	padding: 0.5rem;
	margin: 0.5em;
}
